/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    
}

/**********MAIN-CONTAINER********/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    
}



/*********HEADER**********/


header {
    display: flex;
    
}

header img {
    width: 61px;
    height: 19px;
}

.logo {
    width: 161px;
    height: 79px;
    padding-top: 30px;
}

.link {
    display: flex;
    
    gap:50px;
}

.link a {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

}

header a {
    padding-top: 14px;
}

/*header a a:hover {
    padding-top: 16px;
}*/
.blue-overline:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
    
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h2 {
    font-weight: 700;
    font-size: 22px;

}

h3 {
    font-size: 18px;
    font-weight: 700;
}
/*a {
    color: inherit;
    text-decoration: none;
}*/


/*********************MAIN********************/

/****** Search******/

/*headline*/

.headline h2 {
    margin-bottom: 8px;
}

.headline p {
    font-weight: 400;
    font-size: 16px;
}

/*search-bar*/

.search-bar {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color:#F2F2F2;
    color:black;
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
}
.search-bar input {
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
}

.town {
    color: black;
    font-size: 18px;
    font-weight: 700;
    
}

::placeholder {
    color:black;
    text-align: center;
    
}

.rechercher-txt {
    /*background-color: #0065FC;*/
    color: white;
    /*width: 100px;
    height: 21px;*/  
    
}

.one {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    text-align: center;
    border:none;
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    height: 49px;
}


.two {
    display: none;
}
.fa-magnifying-glass {
    color: white;
}

/*filter */

.filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 35px;    
}

.filter div h3{
    display: flex;
    /*justify-content: baseline;*/
    padding-bottom: 10px;
}

.filter-bar {
    display: flex;
    height: 50px;
    gap: 15px;   
}

.filter-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    height: 38px;
}

.icon {
    border: 2px solid #F2F2F2;
    padding:4px 19px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
}

.icon:hover {
    background-color: #DEEBFF;
}

.filter-bar i {
    gap:10px;
}


/*info*/

.info {
    display: flex;
    gap:10px;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info-i {
    border: 1px solid #F2F2F2;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-txt {
    font-weight: 400;
    font-size: 16px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap:40px;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements ***********/
.hebergements {
    width: 65%; 
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
}


.hebergements .hebergement-title {
    margin-bottom: 30px;
    /*font-weight: 700;
    font-size: 22px;*/
}


.hebergement-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

.hebergement-cards img {
    height: 124px;
    width: 0px;
    min-height: 50%;
    min-width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    /*width: ; /* penser à l'enlever si responsive ne va pas et essayer min-height:50% et min-width:100%*/
}

.hcard {
    display: flex;
    height: 207px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap:8px;
    padding-bottom: 15px;
}

.hebergements .card-content {
    padding: 0 15px;
}


.hebergements .card-txt h3{
    padding-bottom: 8px;  
}

.info-afficher {
    padding-top:30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****************ACTIVITES**************/

.activities-cards {
    display: flex;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*padding-top: 30px;*/
}
.activities .card {
    height: 439px;
    padding-bottom: 20px;

}

.activities {
    /*margin-top: 35px;*/
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap:30px;
    
}

.activities img {
    width: 0px;
    height: 380px;
    min-height: 50%;
    min-width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities-cards .card-title h3{
    padding: 20px 19px;
    font-size: 16px;
}

/**********FOOTER**********/
footer {
    display: flex;
    background-color: #F2F2F2;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
    
}

footer div {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 0;
    gap:15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0 20px;
    }


    .filter {
        flex-direction: column;
        align-items: flex-start
    }

    .filter h3 {
        font-size: 18px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        padding:0;
    }

    .hebergements {
        width: 100%;
        margin-bottom:0;

    }

    .hcard h3 {
        font-size: 16px;
    }

    .hcard .card-txt {
        font-size: 14px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities .card {
    height: 270px;
    padding-bottom: 20px;

}
    .activities img {
    height: 200px;
}

    .activities .card-title h3{
    font-size: 16px;
    line-height: 19px;
    
}


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    /***HEADER***/

    .main-container {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .logo {
        /*padding: px;*/
        width: 100%;
        text-align: center;
    }
    nav .link {
        justify-content:space-between;
    }

    .link {
        width: 100%;    
    }

    .link a {
        width: 50%; /*penser à l'enlever si bug*/
        text-align: center;
        gap:15px;
        padding-bottom: 15px;
        padding-top: 0;
    }

    .link a:hover{
        border-top: inherit;
        border-bottom: 2px solid #0065FC;
    }

    /****SEARCH****/

    .search {
        margin-top: 30px;
        padding: 0 20px;
    }

    .one {
        display: none;
    } 
    

    .two {
    display: block;
    width: 49px;
    height: 49px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #0065FC;
    border:none;

    } 

    .search-bar {
        width: 100%;
    }

    /****FILTER****/

    .filter-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .icon {
        width: 50%;
        gap: 10px;
    }

    .filter-bar {
        margin-bottom: 35px;
    }

    /****HEBERGEMENTS ET POPULAIRES****/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;

    }

    .hebergements-and-populaires  .populaires {
        border-radius: inherit;
        margin: 0;
        padding: 30px 20px;

    }


    .populaires .populaires-cards {
        flex-direction: column;
        
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: inherit;
        padding: 30px 20px;
    }

    .hebergement-cards {
        display: flex;
        flex-direction: column;
    }


    /****ACTIVITES****/
    .activities {
        padding: 30px 20px;
    }

    .activities-cards {
        display: flex;
        flex-direction: column;
    }

    .activities .card{
       padding-bottom: 20px;
    }


    /****FOOTER****/

    footer {
        display: flex;
        flex-direction: column;
    }

    footer div {
        width: 100%;
    }




}